{% extends 'Includes/index.html' %}
{% load static %}
{% block title %}
ToDo такая-то
{% endblock %}

{% block css %}
    <link href="{% static 'css/ToDo/todo.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="day">
    <h3 class="today">12 Февраля</h3>
    <div class="subjects">
        <button>ИзмЭл л/а</button>
    </div>
    <hr>
</div>
<div class="day">
    <h3>13 Февраля</h3>
    <div class="subjects">
        <button>
            БД л/а
            <span>!</span>
        </button>
        <button>
            ИнЯз п/а
            <span>!</span>
        </button>
    </div>
    <hr>
</div>
{% endblock %}